<div class="oferta-layout">
  <header class="topbar">
    <h1 class="titulo-app">Secretaría Académica</h1>
  </header>

  <main class="contenido">
    <h2 class="titulo-form">Ofertas publicadas</h2>

    <section class="panel">
      <h3 class="panel-subtitle">NUEVAS OFERTAS</h3>

      <div class="lista-ofertas">
        <div class="item-oferta" *ngFor="let o of ofertas; let i = index">
          <span class="oferta-nombre">#Oferta {{ i + 1 }}</span>
          <button class="btn-ver" (click)="verOferta(o)">Ver oferta</button>
        </div>
      </div>
    </section>
  </main>
</div>
